export(fmlcd)
export(fmlcdEM)
export(compilationInfo)
export(paramFitKernelDensity)
export(paramFitGammaOne)
export(correctIntegral)
export(calcCvxHullFaces)
export(sp.mix.1D)
export(sp.mix.multi)

importFrom("stats", "runif", "sd", "var")
importFrom("mvtnorm","dmvnorm")
importFrom("mclust","hc","hclass")

import(
	geometry,
	MASS
)

useDynLib(fmlogcondens, .registration = TRUE)
